body
{
    margin: 0;
}

div
{
    font-family: sans-serif;
    font-size: 10pt;
    margin-bottom: 2ex;
}

div p.title
{
    margin: 0;
    padding: 1ex;
    background: #ccccdd;
    color: darkblue;
    font-weight: bold;
}

div p.step
{
    color: darkcyan;
    font-weight: bold;
}

div#header
{
}

div#header p.title
{
    font-size: 14pt;
    color: lightblue;
    background-color: darkblue;
    font-weight: normal;
}

div#filter
{
}

div#filter span.set
{
    color: red;
    font-weight: bold;
}

table
{
    font-size: 10pt;
}

img
{
    border: none;
}

p.title a
{
    color: lightblue;
    text-decoration: none;
}

p.title a:hover
{
    color: lightblue;
    text-decoration: underline;
}

a.menu
{
    background-color: lightblue;
    background-position: 0px 60px;
    width: 468px;
    height: 60px;
    display: block;
}

a.menu:hover
{
    background-position: 0px 0px;
}

strong
{
    color: red;
}

em
{
    color: gray;
}

td
{
    vertical-align: top;
}

p.quote
{
    text-indent: 2em;
}

div.footer
{
    margin-top: 4em;
    text-align: right;
    font-size: 6pt;
    color: gray;
}

div.footer p
{
    font-size: 4px;
    color: lightgray;
}
